@media(min-width: 1400px){
}


@media (max-width: 992px){

  .splash h1 {
    font-size: 7em;
  }

  .navbar-collapse {
    margin: 0px 60% 0 13px;
  }
}

@media (max-width: 768px){


  .navbar-collapse {
    margin: 0px 50% 0 13px;
  }

  .splash h1 {
    font-size: 5.5em;
    padding-top: 30%;
  }

  .splash h2 {
    font-size: 30px;
  }

  .embed-soundcloud {
    margin-bottom: 5%;
  }

  h2 {
    font-size: 2em;
  }
}

@media (max-width: 567px){
/*  .splash {
    height: 104vh;
  }
  .live {
    height: 104vh;
  }
  .kontakt {
    height: 104vh;
  }*/

  .splash h1 {
    font-size: 4.5em;
  }


  .splash h2 {
    font-size: 20px;
  }

  footer {
    font-size: .9em;
  }
}
