body {
  position: relative;
  font-family: "Just a Bear", arial;
  text-align: center;
}

a,
a:hover,
a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.media h2 {
  font-size: 3em;
  color: white;
}

.fixed-top {
  right: auto !important;
  left: -1px;
  top: -1px;
}

.navbar-dark {
  font-size: 1em;
  font-weight: 800;
}
.fa-bars {
  font-size: 2em;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}/*
.fa-angle-left, .fa-angle-right {
  color: #f09f09;
  font-size: 4em;
}*/
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.1em;
}
.navbar-dark .navbar-nav .nav-link:hover {
}
.navbar-dark .navbar-nav .nav-link:visited {
}
.arrow {
  font-size: 3em;
  color: white !important;
  padding-bottom: 10px;
  text-shadow: 0 0 3px black;
}
.arrow:hover {
  text-decoration: none !important;
}

.splash {
  min-height: 100vh;
  background: url(../images/landesfinale3.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  text-shadow: 2px 2px 1px black;
  color: white;
}

.splash h1 {
  font-size: 9em;
}

.splash h2 {
  font-size: 40px;
}

.splash span {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  opacity: .9;
  box-shadow: 0 0 6px rgba(50, 50, 50, .9);
  color: white;
}

.splash span:hover {
  opacity: 1;
}

.splash a {
  text-decoration: none;
}

.splash .fa-facebook-f {
  background: #3B5998;
  text-decoration: none;
}

.splash .fa-youtube {
  background: #ff0000;
}

.media {
  background: url(../images/Landesfinale1.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}

.media .embed-soundcloud {
  margin-top: 5%;
}

.live {
  min-height: 100vh;
  background: url(../images/halbfinale4.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}

.backdrop {
  background-color: rgba(255, 255, 255, .8);
  color: black;
}

h2 {
  font-size: 3em;
  padding-top: 30px;
}

.live .table td {
  padding: 1rem .25rem;
  font-size: 1.1em;
}

.live td:first-child,
.live td:last-child {
  width: 50px;
}

.table td {
  border-top: 0;
}

.live p {
  font-family: 'roboto';
}

.line-through {
  text-decoration: line-through;
  color: rgba(0, 0, 0, .3);
}

.kontakt {
  min-height: 100vh;
  background: url(../images/halbfinale1.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  color: white !important;
  text-shadow: 0 0 6px black;
  font-size: 1.1em;
}

footer a {
  color: white !important;
}
