body {
  position: relative;
  font-family: "Just a Bear", arial;
  color: white;
}

a,
a:hover,
a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.fixed-top {
  right: auto !important;
  left: -1px;
  top: -1px;
}

.navbar-dark {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  color: rgba(255, 255, 255, 1) !important;
}
.fa-bars {
  font-size: 3em;
  color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}
.fa-angle-left, .fa-angle-right {
  color: #f09f09;
  font-size: 4em;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1) !important;
  font-size: 1.4em;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, .7) !important;
}
.navbar-dark .navbar-nav .nav-link:visited {
  color: rgba(255, 255, 255, .7) !important;
}
.arrow {
  font-size: 3em;
  color: #f09f09;
  padding-bottom: 10px;
}


.splash {
  min-height: 100vh;
  background: url(../images/background-fur3.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}

.splash h1, h2 {
  text-shadow: 2px 2px 1px black;
}

.splash h1 {
  font-size: 9em;
}

.splash h2 {
  font-size: 40px;
}

.splash .buttons {
}

.splash span {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  opacity: .6;
}

.splash span:hover {
  opacity: 1;
}

.splash a {
  text-decoration: none;
}

.splash .fa-facebook-f {
  background: #3B5998;
  text-decoration: none;
}

.splash .fa-youtube {
  background: #ff0000;
}

.media {
  background: url(../images/halbfinale5.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}

.media .embed-soundcloud {
  margin-top: 5%;
}

.live {
  min-height: 100vh;
  background: url(../images/landesfinale4.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}

.backdrop {
  background-color: rgba(117, 68, 7, .8);
  font-size: 1.2em;
}

.live h2 {
  text-shadow: none;
  font-size: 2.1em;
  padding-top: 30px;
}

.live .table td {
  padding: 1rem .25rem;
}

.live td:first-child,
.live td:last-child {
  width: 50px;
}

.table td {
  border-top: 0;
}

.live p {
  font-family: 'roboto';
  font-size: .95em;
}


.line-through {
  text-decoration: line-through;
  color: rgba(255, 255, 255, .6);
}



.kontakt {
  min-height: 100vh;
  background: url(../images/halbfinale1.jpg) center center no-repeat #7f553d;
  background-size: cover;
  background-attachment: fixed;
}
